<!DOCTYPE html>
<html>
   <head>
     <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>
     <h1><%= character.name %></h1>

     <p>Class: <%= character["class"] %></p>
     <p>Race: <%= character.race %></p>

   </body>
</html>
