<!DOCTYPE html>
<html>
   <head>
     <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>
      <a href='/' class="back-link">< Back</a>
      <h1 class="character-creation-header">New Character Creation</h1>

      <form class="input-fields">
         <% inputLabels.forEach(function(labelName) { %>
            <div class="input-pair">
               <div class="input-label"><%= labelName %></div>
               <input type="text" name="<%= labelName %>"></input>
            </div>
         <% }) %>

         <input type="submit" class="button"></input>
      </form>
   </body>
</html>

<script>
   var characterForm = document.querySelector("form");

   characterForm.addEventListener("submit", function(formEvent) {
      formEvent.preventDefault();

      var inputs = formEvent.target.elements;

      header = new Headers({
         "Content-Type": "application/json"
      });

      fetch('/create-new', {
         headers: header,
         method: 'POST',
         body: JSON.stringify({
            name: inputs.name.value,
            'class': inputs['class'].value,
            race: inputs.race.value,
         })
      }).then(function() {
         window.location = '/character/' + inputs.name.value;
      });
   });
</script>
