body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

h2 {
   margin-top: 30px;
}

textarea {
   height: 250px;
   width: 500px;
   max-width: 100%;
   padding: 13px 20px;
   border: 1px solid #d6d6d6;
   border-radius: 4px;
   font-size: 14px;
}

.button {
   border: 1px solid #d6d6d6;
   border-radius: 4px;
   display: inline-block;
   margin-top: 30px;
   padding: 10px 15px;
   cursor: pointer;
   color: black;
}

.character-container {
   display: flex;
   margin-top: 30px;
}

.character-name, .new-character {
   color: black;
   flex: 0 1 auto;
   border: 1px solid #d6d6d6;
   border-radius: 4px;
   padding: 13px 19px;
   cursor: pointer;
   margin: 0 8px;
}

.new-character-button {
   display: inline-block;
   margin-top: 30px;
   padding: 13px 15px;
}

.character-creation-header {
   margin-bottom: 30px;
}

.input-pair {
   position: relative;
}

.input-fields input {
   font-size: 16px;
   padding: 13px 20px 10px;
   border: 1px solid #d6d6d6;
   border-radius: 4px;
   width: 500px;
   max-width: 100%;
}

.input-label {
   position: absolute;
   background-color: white;
   left: 10px;
   top: -14px;
   padding: 5px 10px;
   color: #9c9c9c;
   font-size: 12px;
}

.input-pair {
   margin-top: 30px;
}

input.button {
   width: auto;
}

input[type="submit"] {
   padding: 10px 20px;
   font-size: 14px;
}

.abilities-list {
   padding-left: 33px;
}

.abilities-list li {
   font-weight: 600;
   font-size: 16px;
}

.abilities-list p {
   margin-top: 7px;
}

.new-ability-link {
   display: block;
   margin-left: 15px;
   margin-top: 20px;
}

